import(jsonlite)
import(filelock)
importFrom(R6, R6Class) 
importFrom(utils, globalVariables) 
export(paramComp)
export(paramBatchComp)
export(CompMgm)
export(generate_names_from_pattern)
S3method(`!=`, paramComp)
S3method(`==`, paramComp)

